---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const guides = await getCollection("guides");
  return guides.map((guide) => ({
    params: { slug: guide.id },
    props: { guide },
  }));
}

const { guide } = Astro.props;
const { Content } = await render(guide);
---

<h1>{guide.data.title}</h1>
<Content />
