---
import { Button } from "@/components/ui/button";
import AppLayout from "@/layouts/AppLayout.astro";
---

<AppLayout title="Welcome">
  <main class="min-h-screen grid place-items-center">
    <Button size={"lg"}>Press me!</Button>
  </main>
</AppLayout>
