---
import { Button } from "@/components/ui/button";
import AppLayout from "@/layouts/AppLayout.astro";

import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";

import { Image } from "astro:assets";
import FAQAccordion from "@/components/FAQAccordion";

import { ArrowDown, ArrowUpRight } from "lucide-react";
import GallerySlide from "@/components/GallerySlide.astro";

import Dice1 from "@/assets/placeholders/dice-1.jpg";
import Dice2 from "@/assets/placeholders/dice-2.jpg";
import Dice3 from "@/assets/placeholders/dice-3.jpg";
import Dice4 from "@/assets/placeholders/dice-4.jpg";
import { Section, SectionTitle } from "@/components/content/section";
---

<AppLayout title="Welcome">
  <Header client:load />

  <main class="min-h-screen">
    <Hero />

    <Section id="about">
      <SectionTitle>What is Taxidus?</SectionTitle>

      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div
          class="h-full flex flex-col gap-8 border-r border-gray-200 dark:border-neutral-800"
        >
          <article class="flex flex-col gap-3 px-5 py-4">
            <p>
              Taxidus is an online platform for RPG-styled board games similar
              to something like Dungeons & Dragons but you can play it online
              and being extensible by anyone in it's design.
            </p>
          </article>

          <div
            class="mt-auto grid grid-cols-1 lg:grid-cols-2 border-t border-gray-200 dark:border-neutral-800"
          >
            <Button
              variant={"default"}
              className="w-full px-8 py-7 rounded-none"
            >
              Read more
              <ArrowUpRight size={18} />
            </Button>

            <Button variant={"ghost"} className="w-full px-8 py-7 rounded-none">
              See our FAQ
              <ArrowDown size={18} />
            </Button>
          </div>
        </div>

        <div class="grid place-items-center p-2 order-first lg:order-last">
          <Image
            src={Dice1}
            alt="Placholder"
            width={640}
            height={480}
            class="size-full max-h-96 rounded-md object-cover"
            loading={"lazy"}
          />
        </div>
      </div>
    </Section>

    <Section id="gallery" className="block">
      <GallerySlide />
    </Section>

    <Section id="features">
      <SectionTitle> Features </SectionTitle>

      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="odd:border-r border-gray-200 dark:border-neutral-800 p-2">
          <Image
            src={Dice2}
            alt="Placeholder"
            width={640}
            height={480}
            class="size-full rounded-md object-cover"
            loading={"lazy"}
          />
        </div>
        <div class="odd:border-r border-gray-200 dark:border-neutral-800">
          <div
            class="px-5 py-4 border-b border-gray-200 dark:border-neutral-800"
          >
            <h3 class="text-xl font-semibold tracking-tight">Customizable</h3>
          </div>

          <div class="flex flex-col gap-3 px-5 py-4">
            <p>
              In Taxidus, every game session can be freely customized according
              to the user's desire. This could be from changing the color of the
              grass by the side of some road to changing the geography of the
              map in their session.
            </p>
          </div>
        </div>
      </div>

      <div
        class="grid grid-cols-1 lg:grid-cols-2 border-t border-gray-200 dark:border-neutral-800"
      >
        <div class="odd:border-r border-gray-200 dark:border-neutral-800">
          <div
            class="px-5 py-4 border-b border-gray-200 dark:border-neutral-800"
          >
            <h3 class="text-xl font-semibold tracking-tight">Anywhere</h3>
          </div>

          <div class="flex flex-col gap-3 px-5 py-4">
            <p>
              Taxidus can be played anywhere as long as there is an internet
              connection to the server. This is because Taxidus, can be accessed
              from our mobile app and the web through our web client.
            </p>
          </div>
        </div>
        <div class="odd:border-r border-gray-200 dark:border-neutral-800 p-2">
          <Image
            src={Dice3}
            alt="Placeholder"
            width={640}
            height={480}
            class="w-full max-h-80 rounded-md object-cover"
            loading={"lazy"}
          />
        </div>
      </div>

      <div
        class="grid grid-cols-1 lg:grid-cols-2 border-t border-gray-200 dark:border-neutral-800"
      >
        <div class="odd:border-r border-gray-200 dark:border-neutral-800 p-2">
          <Image
            src={Dice4}
            alt="Placeholder"
            width={640}
            height={480}
            class="w-full max-h-80 rounded-md object-cover"
            loading={"lazy"}
          />
        </div>
        <div class="odd:border-r border-gray-200 dark:border-neutral-800">
          <div
            class="px-5 py-4 border-b border-gray-200 dark:border-neutral-800"
          >
            <h3 class="text-xl font-semibold tracking-tight">Extensible</h3>
          </div>

          <div class="flex flex-col gap-3 px-5 py-4">
            <p>
              Since Taxidus itself runs on a central API server for it's system.
              Developers can make their own clients to access it, provided that
              they follow through the documentation we provide.
            </p>

            <p>
              This opens up possibilities of a vibrant eco-system of clients
              that any user can make and customize even further to their liking.
            </p>
          </div>
        </div>
      </div>
    </Section>

    <Section id="faq" className="mb-12" closing>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div
          class="odd:border-r border-gray-200 dark:border-neutral-800 flex flex-col gap-3"
        >
          <SectionTitle className="w-full">FAQ</SectionTitle>

          <div class="flex flex-col gap-3 px-5 py-4">
            <p>
              Here are some of the most frequently asked questions about Taxidus
            </p>
          </div>
        </div>

        <div class="odd:border-r border-gray-200 dark:border-neutral-800">
          <FAQAccordion client:visible />
        </div>
      </div>
    </Section>
  </main>

  <Footer />
</AppLayout>
