---
import Guest from "@/components/auth/Guest";
import SignUpForm from "@/components/auth/SignUpForm";
import AppLayout from "@/layouts/AppLayout.astro";
---

<Guest client:load />

<AppLayout title="Sign up - Taxidus">
  <main class="min-h-screen grid grid-cols-1 lg:grid-cols-2">
    <section
      class="h-full bg-gradient-to-b from-gray-400/50 to-gray-400 dark:from-neutral-600/50 dark:to-neutral-600 grid place-items-center"
    >
    </section>

    <section class="h-full grid place-items-center">
      <SignUpForm client:idle />
    </section>
  </main>
</AppLayout>
