---
import Github from "@/components/icons/Github";
import { buttonVariants } from "@/components/ui/button";
import { Box, Compass, Dot } from "lucide-react";
---

<footer class="border-t border-gray-200 dark:border-neutral-800">
  <div class="py-6 min-h-48">
    <div class="px-6">
      <div class="grid grid-cols-1 lg:grid-cols-4">
        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-2">
            <span class="text-2xl font-extrabold tracking-tighter">TAXIDUS</span
            >

            <span class="text-base text-gray-400 dark:text-neutral-500">
              Board games touched by your imaginations
            </span>
          </div>

          <div class="flex items-center gap-1">
            <a href="/" class={buttonVariants({ variant: "outline" })}>
              <Github />
              <span class="text-xs">Github</span>
            </a>
          </div>
        </div>

        <div class="grid place-items-center lg:col-span-2">
          <span class="italic text-lg"> "More than just a board game" </span>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8">
          <div class="flex flex-col gap-3">
            <div class="flex items-center gap-2">
              <Box size={18} />
              <span class="text-xl font-semibold">Other projects</span>
            </div>

            <nav class="flex flex-col gap-1 text-sm">
              <div class="flex items-center gap-2">
                <Dot size={18} strokeWidth={1.5} />
                <a href="/">Taxidus Core</a>
              </div>

              <div class="flex items-center gap-2">
                <Dot size={18} strokeWidth={1.5} />
                <a href="/">Taxidus Mobile App</a>
              </div>
            </nav>
          </div>

          <div class="flex flex-col gap-3">
            <div class="flex items-center gap-2">
              <Compass size={18} />
              <span class="text-xl font-semibold">Explore more</span>
            </div>

            <nav class="flex flex-col gap-1 text-sm">
              <div class="flex items-center gap-2">
                <Dot size={18} strokeWidth={1.5} />
                <a href="/">Documentation</a>
              </div>

              <div class="flex items-center gap-2">
                <Dot size={18} strokeWidth={1.5} />
                <a href="/">Start guide</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="py-2 bg-gray-50 dark:bg-neutral-900 border-t border-gray-200 dark:border-neutral-800"
  >
    <div class="px-6">
      <div class="flex items-center justify-between">
        <span class="font-bold text-sm"
          >Copyright &#169; 2024 Hkaar. All rights reserved.</span
        >

        <div class="flex items-center gap-2 text-sm">
          <a href="/" class={buttonVariants({ variant: "link", size: "sm" })}
            >Terms of service</a
          >
          <a href="/" class={buttonVariants({ variant: "link", size: "sm" })}
            >Privacy Policy</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
