---
import Github from "@/components/icons/Github";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { Box, Compass, Dot } from "lucide-react";
---

<footer
  class="border-t border-gray-200 dark:border-neutral-800 bg-white dark:bg-neutral-900"
>
  <div class="grid grid-cols-1 lg:grid-cols-4 h-full">
    <div
      class="flex flex-col gap-5 px-4 py-3 lg:px-7 lg:py-6 border-r border-gray-200 dark:border-neutral-800"
    >
      <div class="flex flex-col gap-2">
        <span class="text-2xl font-extrabold tracking-tighter">TAXIDUS</span>

        <span class="text-base text-gray-400 dark:text-neutral-500">
          Board games touched by your imaginations
        </span>
      </div>

      <div class="flex items-center gap-1">
        <a href="/" class={buttonVariants({ variant: "outline" })}>
          <Github />
          <span class="text-xs">Github</span>
        </a>
      </div>
    </div>

    <div
      class="grid place-items-center lg:col-span-2 border-r border-gray-200 dark:border-neutral-800 px-7 py-6 order-last lg:order-none"
    >
      <span class="italic text-lg"> "More than just a board game" </span>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="flex flex-col border-t lg:border-t-0">
        <div
          class="flex items-center gap-2 px-4 py-3 border-r border-b border-gray-200 dark:border-neutral-800 bg-gray-100 dark:bg-neutral-800"
        >
          <Compass size={18} className="hidden xl:block" />
          <span class="text-lg font-semibold">Explore more</span>
        </div>

        <nav
          class="grid grid-cols-1 text-sm h-full border-r border-gray-200 dark:border-neutral-800"
        >
          <div class="flex items-center">
            <a
              href="/"
              class={cn(
                buttonVariants({ variant: "ghost" }),
                "h-max w-full px-5 py-4 rounded-none justify-start lg:border-b-0 border-b border-gray-200 dark:border-neutral-800"
              )}
            >
              Documentation
            </a>
          </div>

          <div class="flex items-center">
            <a
              href="/"
              class={cn(
                buttonVariants({ variant: "ghost" }),
                "h-max w-full px-5 py-4 rounded-none justify-start lg:border-b-0 border-b border-gray-200 dark:border-neutral-800"
              )}
            >
              Start guide
            </a>
          </div>
        </nav>
      </div>

      <div class="flex flex-col">
        <div
          class="flex items-center gap-2 px-4 py-3 border-b border-gray-200 dark:border-neutral-800 bg-gray-100 dark:bg-neutral-800"
        >
          <Box size={18} className="hidden xl:block" />
          <span class="text-lg font-semibold">Our projects</span>
        </div>

        <nav class="grid grid-cols-1 text-sm h-full">
          <div class="flex items-center">
            <a
              href="/"
              class={cn(
                buttonVariants({ variant: "ghost" }),
                "h-max w-full px-5 py-4 rounded-none justify-start lg:border-b-0 border-b border-gray-200 dark:border-neutral-800"
              )}
            >
              Taxidus Core
            </a>
          </div>

          <div class="flex items-center">
            <a
              href="/"
              class={cn(
                buttonVariants({ variant: "ghost" }),
                "h-max w-full px-5 py-4 rounded-none justify-start lg:border-b-0 border-b border-gray-200 dark:border-neutral-800"
              )}
            >
              Taxidus Mobile App
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div
    class="bg-gray-50 dark:bg-neutral-800 border-t border-gray-200 dark:border-neutral-800"
  >
    <div class="flex flex-col lg:flex-row items-center justify-between gap-1">
      <span class="font-semibold text-sm text-center lg:text-start px-5 py-4">
        Copyright &#169; 2024 Hkaar. All rights reserved.
      </span>

      <div class="grid grid-cols-2 text-sm">
        <a
          href="/"
          class={cn(
            buttonVariants({ variant: "ghost", size: "sm" }),
            "lg:border-l border-gray-200 dark:border-neutral-800 rounded-none h-max px-5 py-4"
          )}
        >
          Terms of service
        </a>
        <a
          href="/"
          class={cn(
            buttonVariants({ variant: "ghost", size: "sm" }),
            "lg:border-l border-gray-200 dark:border-neutral-800 rounded-none h-max px-5 py-4"
          )}
        >
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>
