---
import AppLayout from "./AppLayout.astro";

interface Props {
  title?: string;
}

const { title = "Untitled Page" } = Astro.props;
---

<AppLayout title={title}>
  <span>Hello</span>
</AppLayout>
