---
import AuthorizedGate from "@/components/auth/AuthorizedGate";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
---

<AuthorizedGate client:load />

<DashboardLayout title="Studio - Dashboard - Taxidus" active="studio">
  <div class="py-5 px-6">
    <section class="grid grid-cols-5 gap-x-5 gap-y-3">
      <Card>
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>

      <Card>
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>

      <Card className="col-span-3">
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>

      <Card className="col-span-2">
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>

      <Card className="col-span-2">
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>

      <Card>
        <CardHeader>Title</CardHeader>
        <CardContent>Hello</CardContent>
      </Card>
    </section>
  </div>
</DashboardLayout>
