---
import AuthorizedGate from "@/components/auth/AuthorizedGate";
import ProjectCard from "@/components/game/ProjectCard";
import { Badge } from "@/components/ui/badge";
import { Button, buttonVariants } from "@/components/ui/button";
import { Card, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import {
  LayoutDashboardIcon,
  Boxes,
  ArrowUpRight,
  ArrowRight,
  SearchIcon,
} from "lucide-react";
---

<AuthorizedGate client:load />

<DashboardLayout title="Studio - Dashboard - Taxidus" active="studio">
  <div class="py-7 px-8 flex flex-col gap-8">
    <section class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <Card>
        <CardHeader className="flex-row justify-between">
          <CardTitle className="flex items-center gap-3">
            <LayoutDashboardIcon strokeWidth={1.5} />
            Code Editor
          </CardTitle>

          <Badge variant={"destructive"}>Not reachable</Badge>
        </CardHeader>
        <CardFooter className="flex items-center justify-between">
          <Button>
            Open code editor
            <ArrowUpRight strokeWidth={1.5} />
          </Button>

          <span class="self-end">Last used: 12 hour(s) ago</span>
        </CardFooter>
      </Card>

      <Card>
        <CardHeader className="flex-row justify-between">
          <CardTitle className="flex items-center gap-3">
            <Boxes strokeWidth={1.5} />
            My Assets
          </CardTitle>

          <Badge>Available</Badge>
        </CardHeader>
        <CardFooter className="flex justify-between">
          <Button>
            Open library
            <ArrowUpRight strokeWidth={1.5} />
          </Button>

          <span class="self-end">Last used: 12 hour(s) ago</span>
        </CardFooter>
      </Card>
    </section>

    <section id="trending-packs" class="flex flex-col gap-3">
      <div class="flex items-center justify-between">
        <span class="font-semibold text-xl"> My projects </span>

        <form action="/" class="flex items-center gap-1">
          <div class="relative">
            <Input
              id="username"
              placeholder="Search for a project"
              type="text"
              required
              name="username"
              autoComplete="username"
              className="ps-9"
            />

            <SearchIcon
              size={18}
              strokeWidth={1.5}
              className="absolute top-2.5 ms-3 stroke-gray-500 dark:stroke-neutral-600"
            />
          </div>

          <Button variant={"secondary"}> Search </Button>
        </form>
      </div>

      <div class="grid grid-cols-4 gap-4">
        <ProjectCard
          title="mayan-pack"
          href="/"
          lastAccessed="20 minute(s) ago"
          tags={["Mayan", "Fantasy", "Aztec"]}
        />

        <ProjectCard
          title="osir-pack"
          href="/"
          lastAccessed="3 hour(s) ago"
          tags={["Steampunk", "Fantasy", "England"]}
        />

        <ProjectCard
          title="osir-pack"
          href="/"
          lastAccessed="3 hour(s) ago"
          tags={["Steampunk", "Fantasy", "England"]}
        />

        <ProjectCard
          title="osir-pack"
          href="/"
          lastAccessed="3 hour(s) ago"
          tags={["Steampunk", "Fantasy", "England"]}
        />
      </div>
    </section>
  </div>
</DashboardLayout>
